body {
	font-family: "Aldrich", sans-serif;
}

.weather {
	margin: 20px;

	&__title {
		font-size: 100px;
		text-align: center;
		margin: 20px;
		margin: 0;
	}

	&__output {
		display: flex;

		&--results {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin: 0;
		}
	}

	&__noaa {
		width: 600px;
		font-size: 40px;
		margin: 20px;
	}

	&__temp {
		display: flex;
		justify-content: center;
		background-color: #a1bee3;
		padding: 20px;
		border-radius: 20px;
		font-size: 80px;
		align-items: center;
		width: 600px;
		margin: 10px;
	}

	&__humidity {
		display: flex;
		justify-content: center;
		background-color: #7fbda3;
		padding: 20px;
		border-radius: 20px;
		font-size: 80px;
		width: 600px;
		margin: 0;
	}

	&__time {
		display: flex;
		flex-direction: column;

		&--retrieved {
			color: blue;
			margin: 10px;
		}

		&--recorded {
			color: green;
			margin: 10px;
		}
	}

	&__noaa {
		font-size: 20px;
		width: 100%;
	}

	&__chart {
		display: flex;
		justify-content: center;
		width: 800px;
		height: 100%;
		font-size: 20px;
		margin-top: 0;
		flex-direction: column;
	}
}
